body {
    font-family: 'Space Mono', monospace;
}

.nav {
    margin-left: 40px;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.left {
    width: 35%;
    margin-left: 100px;
}

.left img {
    width: 100%;
    margin-top: 50px;
}

.right {
    width: 40%;
    margin-left: 120px;
    padding: 1rem;
}

.right h1 {
    font-size: 4rem;
}

.right p {
    font-size: 1.12rem;
    margin-top: -15px;
    width: 50%;
}

.right button {
    margin-top: 25px;
    background-color: black;
    font-weight: 700;
    color: white;
    padding: 1rem 2.5rem;
    cursor: pointer;
    border: none;
}

/* ul {
    padding-left: 24px;
}

li {
    margin-bottom: 8px;
}

.welcome {
    max-width: 800px;
    margin: 0 auto;
}

.welcome-text {
    margin-top: 30vh;
    font-weight: 500;
}

.welcome-text p {
    font-size: 1rem;
    font-weight: 400;
}

.welcome-text h1 {
    font-size: 1.5rem;
}

.welcome-text a {
    color: #f7542e;
} */